.Todo-form {
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	background-color: white;
	border-radius: 5px;
	width: 30vw;
	padding: 50px;
	color: rgb(65, 64, 64);
	box-shadow: 5px 5px 15px 5px rgba(0, 0, 0, 0.5);
}

.Todo-form .Form-body {
	flex-direction: row;
}

.Todo-form input {
	margin: 10px 2px 3vh auto;
	width: 20vw;
	height: 4vh;
	border-radius: 5px;
	border-color: rgb(243, 243, 243);
	box-shadow: 2.5px 2.5px 5px 0 rgba(0, 0, 0, 0.5);
}

.Todo-form input:focus {
	outline: none;
	color: rgb(65, 64, 64);
	font-style: italic;
}


.Todo-form button {
	margin: 10px auto auto -0.1px;
	width: 3.5vw;
	height: 5vh;
	border-radius: 5px;
	border-color: rgb(243, 243, 243);
	background-color: rgb(23, 100, 201);
	box-shadow: 2.5px 2.5px 5px 0 rgba(0, 0, 0, 0.5);
}

.Todo-form button:hover {
	background-color: rgb(75, 144, 235);
	cursor: pointer;
}

.Todo-form h3 {
	margin: auto auto 4vh auto;
	color: rgb(65, 64, 64);
}
