.App {
	text-align: center;
	padding: 10px auto 10px auto;
}

.App-header {
	background-color: #282c34;
	min-height: 10vh;
	display: flex;
	align-items: center;
	justify-content: center;
	font-size: calc(10px + 2vmin);
	color: white;
}

.Elements-container {
	display: flex;
	flex-direction: row;
	align-items: center;
}

.Form-container {
	margin: 5vh auto auto auto;
	display: flex;
	align-items: center;
	justify-content: center;
}

.Actions-container {
	margin: 5vh auto auto auto;
}


