.App {
	text-align: center;
	padding: 10px auto 10px auto;
}

.App-header {
	background-color: #282c34;
	min-height: 10vh;
	display: flex;
	align-items: center;
	justify-content: center;
	font-size: calc(10px + 2vmin);
	color: white;
}

.Form-container {
	margin-top: 5vh;
	display: flex;
	align-items: center;
	justify-content: center;
}

.Task-container {
	margin-top: 5vh;
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	background-color: #fff;
	border-radius: 5px;
	box-shadow: 5px 5px 15px 0 rgba(0, 0, 0, 0.2);
	width: 50vw;
	margin: 10vh auto 2vh 25vw;
	padding: 10px;
	color: rgb(54, 54, 54);
}

.Task-container ul {
	list-style: none;
}

.Task-container li {
	text-align: left;
}

.Task-container h3 {
	margin-left: 4vh;
	color: #000;
}

.Task-container ul {
	width: 90%;
}

.Task-list li {
	flex-direction: row;
	display: flex;
	justify-content: space-between;
	padding: 1vh 1vh 1vh 1vh;
}

.Task-list li:hover {
	background-color: #d8d8d8;
	border-radius: 5px;
}

.Task-list li .Action-buttons {
	right: 4vw;
}

.Task-list span {
	margin: 0 0.5vh 0 0.5vh;
}

.Task-list span:first-child {
	margin-left: 2vh;
}

.Task-list .Edit-button {
	color:rgb(57, 95, 199);
}

.Task-list .Edit-button:hover {
	cursor: pointer;
	color:rgb(99, 132, 224);
	transition: 0.5s;
}

.Task-list .Delete-button {
	color:rgb(218, 65, 65);
}

.Task-list .Delete-button:hover {
	cursor: pointer;
	color:rgb(233, 124, 124);
	transition: 0.5s;
}
